/* Non-Functional Requirements
You must put one blank line between rules

You must put an open curly brace on the same line as the selector

You must put a close curly brace on a new line

All property-value pairs in the CSS rule must be indented
*/
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    border-bottom: 100px;
}

footer {
    background-color: #B4CF66;
    padding: 24px;
    font-size: 12px;
    margin: 5px, 5px 10px,
}

img {
    height: 200px;
    width: 250px;
}

nav {
    color: white;
    background-color: #FF5A33;
    padding: 16px;
    border: 1px #146152;
    border-bottom-style: solid;
}

h1 {
    color: #146152;
}

a, a:visited {
    text-decoration: none;
}

a.nav, a.nav:visited {
    color: white;
}

a.recipe, a.recipe:visited {
    color: #44803F
}

a.nav:hover, a.recipe:hover {
    color: #FFEC5C;
}

.recipe_grid {
    display: inline-block;
    /* border: 1px solid black; */
    padding: 0px;
    margin-right: 5%;
    grid-template-columns: 25%;
    grid-template-rows: 1fr;
}


table tr:nth-child(even){
    background-color: #e5e5e5
}
